@model IEnumerable<HotelManagementSystem.Models.HotelRooms>

@{
    ViewData["Title"] = "GetAllHotelRooms";
}

<h1 class="text-center">Get All Hotel Rooms</h1>

<p>
    <a class="btn btn-warning" style="color:white;" asp-action="AddHotelRoom">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn buttonBlueColor" asp-action="UpdateHotelRoom" asp-route-id="@item.RoomId">Edit</a> |
                    @* <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> | *@
                    <a class="btn btn-danger" asp-action="DeleteHotelRoom" asp-route-id="@item.RoomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
