@model IEnumerable<HotelManagementSystem.Models.Customers>

@{
    ViewData["Title"] = "GetAllCustomers";
}

<h1 class="text-center">Get All Customers</h1>

<p>
    <a class="btn btn-warning" style="color:white;" asp-action="AddCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a class="btn buttonBlueColor" asp-action="UpdateCustomer" asp-route-id="@item.CustomerId">Edit</a> |
                @* <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> | *@
                    <a class="btn btn-danger" asp-action="DeleteCustomer" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
